
  /* Global Styles */
  Body { 
    background: linear-gradient(-45deg, #06ccc2, #510c49, #000000, #077d81);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 0;
    margin: 0;
    color: #ffffff;
      
   }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 ;
  }
  
  /* Header */
  .glass-header {
    /* background: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(2px);
    padding: 5px;
    text-align: center;
    box-shadow: 10px 1px 15px;
    font-family: 'Source Code Pro', monospace;
  }
  
  .glass-header h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
  
  /* Main Content */
  .glass-main {
    padding: 100px;
    font-family: 'Handjet', cursive;
    display: block; /* Change display to block */
    max-width: 600px; /* Add a max-width to the main element */
    margin: 40px 20px 40px 20px; /* Center the main element horizontally */
  }
  
  h2{
    font-size: 60px;
  }
  p{
    font-size: 30px;
  }
   /* svg icon */
  .person-pro{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 150px;
  }
  

  
  /* Social Media Icons */
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #ffffff;
  }
  
  /* Responsive Styles */
  
  /* Small devices (phones) */
  @media screen and (max-width: 600px) {
    .glass-main {
      padding: 30px;
      margin: 40px 0;
    }
  
    .intro-section, .projects-section {
      padding: 0px;
    }

    .person-pro{
        max-width: 130%;
        position: relative;
        right: 40px;
        top: 80%;
    }
  }
  
  /* this is test work */

  